=head1 NAME
 
Parse::Eyapp::eyapplanguageref - The Eyapp language reference manual

=head1 THE EYAPP LANGUAGE

[% PROCESS eyappgrammar %]
 
[% PROCESS eyapplanguageref %]

=head1 SEE ALSO

[% PROCESS seealso %]

[% PROCESS authorandcopyright %]
